h1 U.S. Census Bureau Classifier
p
  | This site is a demonstration of a Naive Bayes Classifier.  It allows a user to enter training data, which is
  | used to guess the gender of a person, using only their height and weight.
